*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

:root{
  --white: #FFF;
  --black: #000;
  --darkgrey: #A9A9A9;
  --lilais:#DDA0DD;
}

button{
  cursor: pointer;
}

a{
  color: inherit;
  text-rendering: none;
}
body{
  background-color: #FFF;
    overflow-x: hidden;
}

body,input,textarea,select,button{
  font:400,1rem sans-serif;
}
@media(max-width:720px){
  html{
    font-size: 87.5%;
  }
}

@media(max-width:1080px){
  html{
    font-size: 93.75%;
  }
}