/* Reset e configurações iniciais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

:root {
  --white: #FFF;
  --black: #000;
  --darkgrey: #A9A9A9;
  --lilais: #DDA0DD;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-rendering: none;
}

body {
  background-color: #263238; /* Cor de fundo do corpo */
  overflow-x: hidden;
  color: var(--white); /* Cor padrão do texto no corpo */
  font-family: sans-serif;
}

body, input, textarea, select, button {
  font: 400 1rem sans-serif;
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

/* Estilos das seções */
section {
  background-color: var(--white); /* Fundo branco para as seções */
  padding: 2rem; /* Espaçamento interno padrão */
  margin: 1rem 0; /* Margem entre as seções */
}

/* Exemplo para estilos específicos das seções */
.header, .carousel-container, .holdAll, .quemSomos {
  background-color: var(--white);
  border: 1px solid var(--darkgrey); /* Opcional: adicionar uma borda escura para contraste */
}
