.holdAll {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    background-color: #263238; /* Cor de fundo neutra */
    padding: 2rem;
    min-width: 386px;
    min-height: 551px;
    flex-direction: column;
    text-align: center;
}

.teste {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2%;
}

.holdText, .holdImg {
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra leve para efeito de card */
    padding: 2rem;
    background-color: #ffffff; /* Branco para os cards */
    border: 1px solid #4f5b62;; /* Fundo branco para destacar o card */
}

.h11 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: red;
}

.h33 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: var(--black);
}

.holdText p {
    font-size: 1.2rem;
    color: rgb(25, 110, 82);
}

.img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 20px; /* Borda arredondada */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra leve */
}
.holdImg{
    align-items: center;
    text-align: center;
}
@media (max-width: 764px) {
    .holdAll {
        padding: 1rem;
    }

    .img {
        max-width: 100%;
    }
}
