/* ImagensSection.module.css */

/* Container do carrossel */

.carousel-container {
  width: 96%;
  height: 190vh; /* Ajuste a altura conforme necessário */
  position: relative;
  display: block;
  overflow: hidden;
  margin: 1% 0;
  min-width: 386px;
   /* Bordas arredondadas */
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra leve para efeito de card */
  background-color: #ffffff; /* Branco para os cards */
  border: 1px solid #4f5b62;; 
  margin-left: 2%;
}
.holdAll {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

/* Container para imagens no carrossel */
.holdImg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  
}
/* Estilo das imagens no carrossel */
.img1, .img2, .img3 {
  margin-left: 25%;
  margin-top: 10%;
  background-color: #D32F2F;
  border-radius: 20px; /* Bordas arredondadas */
  padding: 2rem;
  width: 50%; /* Mantido conforme solicitado */
  height: auto; /* Mantido conforme solicitado */
  object-fit: contain; /* Ajusta o objeto para preencher o espaço sem distorção */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Adiciona sombra sutil */
}

/* Container para todos os vídeos e parágrafos */


/* Container individual para cada vídeo e parágrafo */
.holdVideos {
  width: 100%; /* Mantido conforme solicitado */
  height: 40vh;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 50%;
  margin-top: 20%;
}
.holdVideos p{
  color: black;
}
/* Estilo dos vídeos */
.video {
  width: 30%;
  height: auto;
  border-radius: 10px; /* Bordas arredondadas */
  margin-left: 20%;

}

/* Estilo específico para o segundo vídeo */
.video2 {
  margin-left: 20%;
  width: 50%;
  height: auto;
}

/* Estilo dos parágrafos */
.paragrafo {
  font-size: 3rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ffffff; /* Branco para contraste */
  margin-bottom: 0.5rem;
}

/* Estilos responsivos para telas menores que 768px */
@media (max-width: 768px) {
  .carousel-container {
    height: 60vh;
    text-align: center;
    align-items: center;
    width:100%;
  }
  
  .img1, .img2, .img3 {
    max-width: 90%;
    padding: 1rem; /* Reduzido o padding para telas menores */
  }

  .holdImg {
    text-align: center;
    align-items: center;
    margin-left: 0; /* Removido o deslocamento lateral em telas menores */
    text-align: center;
  }

  .holdAll {
    text-align: center;
    align-items: center;
    width: 100%;
    flex-direction: column; /* Empilha os vídeos verticalmente */
    gap: 1rem; /* Espaço entre os vídeos */
  }
  .paragrafo{
    font-size: 1rem;
  }

  .holdVideos {
    display: flex;
    width: 60%; /* Ajustado para melhor visibilidade em telas menores */
    height: auto;
    margin-bottom: 5rem; /* Espaçamento entre as divs quando empilhadas */
  }

  .video {
    width: 35%;
    height: auto; /* Altura ajustada para melhor visibilidade */
  }

  .video2 {
    width: 65%;
    height: auto; 
  }
}
