.carousel-container {
  width: 98%;
  height: auto; /* Ou qualquer altura desejada */
  position: relative;
  display: block; /* Mantém o carrossel com layout de bloco */
  overflow: hidden; /* Esconde as barras de rolagem */
  margin: 1% 0 1% 1%; /* Define os espaçamentos externo */
  border: 1px solid black;
  min-width: 386px;
}

.holdImg {
  display: flex;
  justify-content: center; /* Centraliza a imagem horizontalmente */
  align-items: center; /* Centraliza a imagem verticalmente */
  height: 100%; /* Garante que a div ocupe toda a altura do container */
  text-align: center;
  margin-left: 35%;
}

.img1, .img3, .img2 {
  border-radius: 40px;
  padding: 2rem;
  width: 35%;
  height: auto;
  object-fit: contain; /* Garante que a imagem mantenha a proporção */
}

.holdAll {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 10%; /* Adiciona espaço entre as divs */
}

.holdVideos {
  width: 18%; /* Cada div ocupa cerca de metade da largura */
  display: inline-block;
  flex-direction: column;
  align-items: center; /* Centraliza o conteúdo na div */
  text-align: center;
} 
.video{
  width: 100%; /* Ajusta o vídeo para ocupar toda a largura da div */
  height: auto; /* Mantém a proporção do vídeo */
}
.video2{
  margin-left: 20%;
  width: 150%;
  height: auto;
}
.paragrafo{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width: 768px) {
  .carousel-container {
    height: 37vh;
    width: auto;
    text-align: center;
    align-items: center;
  }
  
  .img1, .img2, .img3 {
    max-width: 90%; /* Ocupa mais espaço na tela menor */
    padding: 1rem; /* Reduz o padding em telas menores */
  }

  .holdImg {
    margin-left: 0; /* Remove o deslocamento lateral em telas menores */
    text-align: center;
    align-items: center;
  }

  .holdAll {
    flex-direction: column; /* Empilha as divs em telas menores */
  }

  .holdVideos {
    width: 45%; /* Cada div ocupa toda a largura disponível */
    margin-bottom: 1rem; /* Espaçamento entre as divs quando empilhadas */
  }

  .video {
    max-width: auto; /* O vídeo ocupa mais espaço na tela menor */
    height: 20vh;
}
.video2{
  width: 80%;
}
.holdImg{
  margin-left: 35%;
}
}
